html{
    box-sizing: border-box;
}

*, *::after, *::before{
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
.hero{
    padding: 30px;
    border: 1px solid red;
    height: 100vh;
    background-image: url(./images/bg-hero-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 5rem;
}
nav{

    width:98%;
    display: flex;
    justify-content: space-between;

}
.but-nav{
    font-family: inherit;
    border-radius: 20px;
    outline: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 12px;
    width: 15%;
    background-color: #fff;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

button:hover{
    cursor: pointer;
    border: 2px solid rgb(158, 158, 158);

}
.hero-content{
    max-height: 80vh;
    margin-top: 4rem;
    border: 1px solid green;
    display: flex;
    justify-content: space-evenly;
    
}
.hero-main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border: 2px solid maroon;
}
.hero-main-content h2{
    font-family:'Poppins',sans-serif;
   font-size: 50px;
    font-weight: bold;
    margin-bottom: -.5rem;
}

.sub-content{
    font-family: 'Open Sans',sans-serif;
    font-size: 18px;
    opacity: 60%;
    font-weight: 700;
    margin-bottom: 20px;

}
.pink-button{

background-color: hsl(322, 100%, 66%);
border-radius: 25px;
color: white;
border: none;
outline: none;
padding: 15px;
width: 250px;
height: 50px;
font-weight: bold;
}
.hero-image{
    padding: 20px;
    display: flex;
    justify-content: center;
    border: 1px solid blue;
    size-adjust: auto;
    height: 70vh;
    width: 100%;
}
.content{
   padding-top: 40px;
    border: 2px solid violet;
}
.card{
    border: 2px solid grey;
display: flex;
justify-content: space-evenly;
padding-top: 50px;
padding-left: 20px;
padding-right: 20px;
width: 90%;
margin: 0 auto;
margin-bottom: 20px;
border-radius: 10px;
}
  .card-img {
    margin-bottom: 20px;
    width: 28rem;
    border: 2px solid yellow;
  }
  .card-img img{

    border: 2px solid black;
    height: 18rem;
  }
  .card .text{
    padding: 30px;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .card h3{
    font-size: 20px;
    font-family:'Poppins',sans-serif;
    font-weight: bold;
  }
  .card p{
    font-family: 'Open Sans',sans-serif;
    font-size: 18px;
  }
  .card.flowing-conversations{
    flex-direction: row-reverse;
    gap: 30px;
  }